node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.angular/
.angular-cache/
.env
.env.*
environments/
config-maps.ts
serviceAccountKey.json
logs/
*.log
bower_components/
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
build/
uploads/
.npmrc
