<div class="forgot-password-wrapper">
    <div class="forgot-password-container">
        <div class="forgot-password-box">
            <div class="forgot-password-header">
                <h1>Recuperar contraseña</h1>
                <p>Te enviaremos un correo para restablecer tu contraseña</p>
            </div>

            <form [formGroup]="forgotPasswordForm" class="forgot-password-form" (submit)="sendPasswordReset($event)">
                <div class="form-group">
                    <div class="input-wrapper">
                        <div class="input-container">
                            <input [ngClass]="{ 'error' : emailError}" type="text" placeholder=""
                                formControlName="email" autocomplete="email">
                            <label for="email">Correo electrónico</label>
                            <span [ngClass]="{ 'errorborder' : emailError }" class="input-border"></span>
                        </div>
                        <div class="icon-wrapper">
                            <lucide-icon *ngIf="emailError" name="info" size="20px" class="error-icon"
                                (mouseenter)="showHelperText('email')" (mouseleave)="hideHelperText()">
                            </lucide-icon>
                            <span *ngIf="helperTextVisible === 'email'" class="helper-text">
                                {{ emailError }}
                            </span>
                        </div>
                    </div>
                </div>

                <button type="submit" class="forgot-password-btn">
                    @if (loading) {
                    <app-loadinganimation [type]="'button'"></app-loadinganimation>
                    } @else {
                    Enviar correo
                    }
                </button>

                <div class="forgot-password-links">
                    <a class="back-to-login" routerLink="/auth/login">Volver al inicio de sesión</a>
                    <p class="signup-link">¿Nuevo en PlanIt? <a routerLink="/auth/signup">Crea una cuenta</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<app-infodialog *ngIf="generalError" [type]="'error'" [message]="generalError"></app-infodialog>
