<div class="camara">
    <div class="webcam-video-container">
        <div [ngClass]="{'webcam-video': true, 'zoomed': zoomLevel !== 1}">
            @if (!forceWebcamRecreation) {
            <webcam [trigger]="$trigger" (imageCapture)="snapshot($event)"
                [videoOptions]="isMobileDevice() ? { facingMode: facingMode } : { deviceId: currentDeviceId || undefined }"
                [allowCameraSwitch]="false" [imageQuality]="0.7" (initError)="handleInitError($event)"
                (initSuccess)="onInitSuccess()" [ngClass]="{'user-facing': facingMode === 'user'}">
            </webcam>
            }
        </div>

        <div class="loading-overlay" *ngIf="isLoadingCamera || isSwitchingCamera">
            <app-loadinganimation [type]="'fullscreen'"></app-loadinganimation>
        </div>

        <div class="camera-controls">
            <button class="zoom-button zoom-out" (click)="zoomOut()"
                [disabled]="zoomLevel <= minZoom || isSwitchingCamera || isLoadingCamera">
                <span class="material-icons-outlined">zoom_out</span>
            </button>

            <button [disabled]="isSwitchingCamera || isLoadingCamera" (click)="switchCamera()"
                class="switch-camera-button" [ngClass]="{'disabled': isSwitchingCamera || isLoadingCamera}">
                <span class="material-icons-outlined">flip_camera_android</span>
            </button>

            <button [disabled]="isSwitchingCamera || isLoadingCamera" (click)="captureImage()" class="capture-button"
                [ngClass]="{'disabled': isSwitchingCamera || isLoadingCamera}"></button>

            <button [disabled]="isSwitchingCamera || isLoadingCamera" (click)="closeCamera()"
                class="close-camera-button" [ngClass]="{'disabled': isSwitchingCamera || isLoadingCamera}">
                <span class="material-icons-outlined">close</span>
            </button>

            <button class="zoom-button zoom-in" (click)="zoomIn()"
                [disabled]="zoomLevel >= maxZoom || isSwitchingCamera || isLoadingCamera">
                <span class="material-icons-outlined">zoom_in</span>
            </button>
        </div>

        <div class="reset-zoom-control" *ngIf="zoomLevel !== 1">
            <button class="zoom-button reset-button" (click)="resetZoom()"
                [disabled]="isSwitchingCamera || isLoadingCamera">
                <span class="material-icons-outlined">zoom_out_map</span>
                1x
            </button>
        </div>
    </div>
    <app-infodialog *ngIf="generalError" [type]="'error'" [message]="generalError"></app-infodialog>
</div>