<div class="home-wrapper">
    <section class="header" [ngClass]="{ 'header-chat-mobile' : router.url.includes('/home/groups/chat') || router.url.includes('/home/groups/info') }">
        <app-header [navBarExpanded]="menuExpanded" (toggleLateralMenu)="toogleMenu($event)" (toggleFriendsMenu)="toggleFriendsMenu($event)" (toggleInformationMenu)="toggleInformationMenu($event)" (toggleNotificationsMenu)="toggleNotificationsMenu($event)"></app-header>
    </section>
    <section class="content-wrapper">
        <aside class="side-menu" [ngClass]="{ 'side-menu-expanded': menuExpanded, 'side-menu-chat-mobile' : router.url.includes('/home/groups/chat') || router.url.includes('/home/groups/info') }">
            <app-menu [menuExpanded]="menuExpanded" (toggleMenu)="toggleLateralMenu($event)"></app-menu>
        </aside>
        <main class="main-content" [ngClass]="{ 'main-content-chat-mobile' : router.url.includes('/home/groups/chat') || router.url.includes('/home/groups/info') }">
            <router-outlet></router-outlet>
        </main>
    </section>
    <div id="friends" class="opt-menu-home" [ngClass]="{ 'opt-menu-home-exp' : friendsMenuExpanded}" #friendsMenu>
        <app-friends></app-friends>
    </div>
    <div id="information" *ngIf="informationMenuExpanded" #informationMenu>
        <app-information></app-information>
    </div>
    <div id="notifications" class="opt-menu-home" [ngClass]="{ 'opt-menu-home-exp' : notificationsMenuExpanded}" #notificationsMenu>
        <app-notifications (close)="toggleNotificationsMenu(!this.notificationsMenuExpanded)"></app-notifications>
    </div>
</div>